.navbar {
    background-color: #ECF6CE;
}

.quem-somos {
    background-color: #F7D358;
}

.margin{
    padding-top: 20px;
    padding-bottom: 10px;
}

.serviços {
    background-color: #ECF8E0;
}

.parceiros {
    background-color: #F8E0F1
}

.clientes {
    background-color: #CEF6F5;
}

